@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-min-height {
  min-height: 60px;
}

@screen sm {
  .nav-min-height {
    min-height: 90px;
  }
}

.nav--pool-logo-container {
  width: 50px;
}

.nav--account-controls-container {
  max-width: 244px;
}

@screen xs {
  .nav--pool-logo-container {
    width: 80px;
  }
}

@screen sm {
  .nav--pool-logo-container {
    min-width: 154px;
  }

  .nav--account-controls-container {
    max-width: 560px;
  }
}

@screen lg {
  .nav-and-footer-container {
    max-width: 1400px;
  }
}

@screen lg {
  .pool-container {
    max-width: 1400px;
  }
}

.pool-max-width {
  max-width: 1400px;
}

.modal-max-width {
  max-width: 640px;
}

.modal-wrapper {
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-content-container {
  max-height: 100vh;
}

@screen sm {
  .modal-wrapper {
    max-height: calc(100vh - 1px);
  }
}

.page {
  min-height: 400px;
  width: 100%;
}

.section-min-height {
  min-height: 70vh;
}

.scene {
  margin: 0 auto;
  z-index: 3;
  width: 95%;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  pointer-events: none;
}

.notification-close-btn {
  padding: 0.08rem;
}

@screen sm {
  .notification-close-btn {
    padding: 0.5rem;
  }
}

/* Page Layout */

.page-grid-wrapper {
  display: grid;
  max-height: -webkit-fill-available;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'banner'
    'header'
    'contentWithFooter'
    'bottomNavigation';
}

@screen sm {
  .page-grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'banner'
      'header'
      'contentWithSideNavigation';
  }
}

.content-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'content' 'footer';
}

@screen sm {
  .content-grid-wrapper {
    margin: 0 auto;
    max-width: 1460px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'sideNavigation content'
      'sideNavigation footer';
  }
}

.grid-banner {
  grid-area: banner;
}

.grid-content-with-side-navigation {
  grid-area: contentWithSideNavigation;
}

.grid-content-with-footer {
  grid-area: contentWithFooter;
}

.grid-header {
  grid-area: header;
}

.grid-bottom-navigation {
  grid-area: bottomNavigation;
}

.grid-footer {
  grid-area: footer;
}

.grid-content {
  grid-area: content;
}

.grid-side-navigation {
  grid-area: sideNavigation;
}
