* {
  --mobile-header-height: 92px;
  --mobile-nav-height: 76px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  height: 100%;
} */

body {
  height: auto;
}

.nav--pool-logo-container {
  width: 50px;
}

@screen xs {
  .nav--pool-logo-container {
    width: 80px;
  }
}

@screen sm {
  .nav--pool-logo-container {
    min-width: 154px;
  }
}

@screen lg {
  .nav-and-footer-container {
    max-width: 1400px;
  }
}

/* Page Layout */

.grid-page-wrapper {
  display: grid;
  /* max-height: -webkit-fill-available; */
  /* height: 100vh; */
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'grid-header-wrapper'
    'grid-content-with-footer';
}

@screen sm {
  .grid-page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'grid-header-wrapper'
      'grid-content-with-side-nav';
  }
}

.grid-header-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'grid-banner' 'grid-header';
  position: sticky;
  top: 0;
}

@screen sm {
  .grid-header-wrapper {
    margin: 0 auto;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr auto; */
    /* grid-template-areas:
      'grid-content'
      'grid-footer'; */
  }
}

.grid-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'grid-content'
    'grid-footer';
}
/* 
@screen sm {
  .grid-content-wrapper {
    margin: 0 auto;
    max-width: 1460px;
    
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'grid-side-nav grid-content'
      'grid-side-nav grid-footer';
  }
} */

.desktop-content-wrapper {
  max-width: 1460px;
}

.grid-banner {
  grid-area: grid-banner;
}

.grid-content-with-side-navigation {
  grid-area: grid-content-with-side-nav;
}

.grid-content-with-footer {
  grid-area: grid-content-with-footer;
  /* height: 100vh; */
  /* height: calc(100vh - var(--mobile-header-height)); */
  top: var(--mobile-header-height);
}

.grid-header-wrapper {
  grid-area: grid-header-wrapper;
}

.grid-header {
  grid-area: grid-header;
}

.grid-header > div {
  max-width: 1460px;
}

.grid-footer {
  grid-area: grid-footer;
}

.grid-content {
  grid-area: grid-content;
}

.grid-side-nav {
  grid-area: grid-side-nav;
}
