.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--color-text-default);
  border-color: var(--color-text-default) transparent var(--color-text-default) transparent;
  animation: lds-dual-ring 0.9s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
