@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Regular.woff2') format('woff2'),
        url('/fonts/DMMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('/fonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
        url('/fonts/TitilliumWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

html, body, table {
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0;
  scroll-behavior: smooth;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  background-color: #79FFE1;
  color: var(--color-text-inverse);
}

html {
  overflow-x: hidden;
}

body {
  @apply font-sans-regular tracking-wider;
}

hr {
  border: 0;
  height: 0;
  border-top: 3px solid rgba(60, 8, 165, 0.3);
  border-bottom: none;
  background: transparent;
  margin: 20px auto;
  width: 90%;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-blue;
  transition: all 100ms ease-in;
}

a:hover {
  /* @apply border-purple-700; */
  /* @apply text-secondary border-purple-700; */
  /* @apply text-secondary border-primary; */
  @apply text-secondary;
}

a[disabled],
a[disabled]:hover {
  /* @apply text-blue-800; */
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0.5rem 0;
}

label {
  /* @apply font-headline block cursor-pointer mt-6 mb-1; */
  @apply block cursor-pointer mt-6 mb-1;
}

form:after {
  content: "";
  display: table;
  clear: both;
}

.pt-button {
  min-width: 120px;
  max-width: 340px;
}

@media screen and (min-width: 640px) {
  .pt-button {
    /* min-width: 170px; */
  }
}

@media screen and (min-width: 1280px) {
  .pt-button {
    /* min-width: 220px; */
  }
}

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}

button[disabled] {
  @apply opacity-20 cursor-not-allowed !important;
}

input:not([type='submit'])[disabled],
textarea[disabled] {
  /* @apply border-transparent bg-purple-1100 text-purple-400 opacity-50 cursor-not-allowed !important; */
  @apply border-transparent opacity-50 cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  /* @apply border-transparent bg-purple-200 text-white cursor-not-allowed; */
  @apply border-transparent cursor-not-allowed;
}

input:not([type='submit'])[readOnly] {
  /* @apply text-lightPurple-600 cursor-not-allowed !important; */
  @apply cursor-not-allowed !important;
} 

input[type='submit'][disabled] {
  /* @apply border-transparent bg-purple-200 text-white cursor-not-allowed; */
  @apply border-transparent cursor-not-allowed;
}

.is-etherscan-arrow {
  height: 1em;
  position: relative;
  top: -2px;
  width: 1em;
}

[anim="ripple"] {
  position: relative;
  overflow: hidden;
}

[anim="ripple"]:before {
  content: '';
  position:absolute;
  display: block;
  background: var(--ripple-background, white);      
  border-radius: 50%;
  pointer-events: none; 

  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width:  calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  mix-blend-mode: screen;

  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
  transition: calc(var(--t, 0) * var(--ripple-duration, 150ms)) var(--ripple-easing, ease-in);   
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

.anim-done {
  background: linear-gradient(-45deg, #23a6d5, #06c296, #8de007 );
	background-size: 400% 400%;
  animation: gradientBG 4s ease infinite;
}

.anim-claiming {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, rgb(124, 41, 240) );
	background-size: 400% 400%;
  animation: gradientBG 2s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.new-prize-gradient {
  background: linear-gradient(155deg, #55A0FB, #6D50DF, #6A1BCF );
}

.new-prize-in-gradient {
  background: linear-gradient(155deg, #9C55F5, #6A1BCF );
}

.radio-input-group label {
  box-shadow: 1px 10px 15px rgba(40, 50, 40, 0.2);
  border-radius: 16px;
  z-index: 2;
}

.radio-input-group label:before {
  @apply bg-blue;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 150ms ease-out;
  opacity: 0;
  z-index: -1;
}

.radio-input-group label:after {
  @apply bg-primary border-primary;
  width: 32px;
  height: 32px;
  content: "";
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.radio-input-group input:checked ~ label {
  box-shadow: 1px 2px 1px rgba(40, 50, 40, 0.2);
  color: #fff;
}

.radio-input-group input:checked ~ label:before {
  transform: translate(0, 0) scale3d(1, 1, 1);
  opacity: 1;
}

.radio-input-group input:checked ~ label:after {
  @apply bg-green border-green;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%232c1259' fill-rule='nonzero'/%3E%3C/svg%3E ");
}



.react-tooltip-lite {
  background: white;
  border-color: #333;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 1px 3px 2px rgba(60, 60, 60, 0.35);
  color: black;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px !important;
  min-height: 70px;
  text-align: center;
}

.react-tooltip-lite-arrow {
  border-color: white;
  margin-top: -3px;
}

.question-button {
  right: 50px;
  top: 11px;
}

@media screen and (min-width: 640px) {
  .question-button {
    right: 50px;
    top: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .question-button {
    right: 70px;
    top: 17px;
  }
}

.question-button--container {
  top: -5px;
}

@media screen and (min-width: 640px) {
  .question-button--container {
    top: -3px;
  }
}

@media screen and (min-width: 1280px) {
  .question-button--container {
    top: -2px;
  }
}

.footer a {
  /* @apply text-purple-500 no-underline border-0; */
  @apply text-primary border-0;
}

.footer a:hover {
  /* @apply text-cyan-400 border-b-2 border-purple-700; */
  /* @apply text-secondary fill-secondary; */
  @apply text-secondary;
}

.footer .img-link:hover {
  @apply border-0 no-underline;
}

.glow {
  /* text-shadow: 0 0 2px rgba(30, 30, 30, 0.1) */
}

.pt-panel {
  width: calc(100% + 64px);
}

@screen sm {
  .pt-panel {
    width: 100%;
  }
}

@screen lg {
  .pt-panel {
    width: 100%;
  }
}

.bn-onboard-modal {
  font-family: 'Helvetica Neue', 'DM Mono', 'Courier', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  z-index: 100000;
}

.pool-logo {
  height: 40px;
  position: relative;
  z-index: 1;
  width: 150px;
}

@screen sm {
  .pool-logo {
    height: 60px;
  }
}
 
.pool-logo:after {
  content: '';
  background-size: cover;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  width: 100px;
  z-index: 2;
}

@screen sm {
  .pool-logo:after {
    height: 60px;
    width: 151px;
  }
}


.confettiCanvas {
  bottom: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 4000ms;
  z-index: 1000000;
}

.confettiCanvas.active {
  opacity: 1;
}

.bn-onboard-clickable {
  border: 0; 
}

.check {
  stroke: #05e6c4;
  fill: none;
  height: 100%;
  stroke-width: 12;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  top: 4px;
  left: 3px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .check {
    top: 5px;
    left: 4px;
  }
}

.check.checked {
  animation: check 0.1s ease-out forwards;
}

@keyframes check {
  0% { stroke-dashoffset: -150; }
  100% { stroke-dashoffset: 0; }
}

[data-reach-tooltip] {
  @apply text-inverse;
  background: white;
  box-shadow: 0 -10px 10px -1px rgba(0, 0, 0, .05), 0 20px 20px -3px rgba(0, 0, 0, .1), rgba(14, 16, 60, 0.08) 0px 15px 30px;
  border: 0;
  color: #210a45;
  padding: 1.25rem 2rem;
  border-radius: 16px;
  pointer-events: initial;
  max-width: 20rem;
  white-space: initial;
  z-index: 1823774;
}

/* [data-reach-listbox-popover][hidden] {
  opacity: 0;
  pointer-events: none;
} */

[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(2px);
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  z-index: 1823770;
}

[data-reach-dialog-content] {
  /* background: white; */
  margin: 10vh auto;
  max-width: 600px;
  padding-top: 20vh;
  pointer-events: none;
  /* position: relative; */
  outline: none;
  width: 80vw;
}

[data-reach-dialog-content] > div,
[data-reach-dialog-content] > button {
  pointer-events: initial;
}

.close-button {
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  outline: none;
  font-size: 26px;
  position: absolute;
  right: 38px;
  top: 28px;
  z-index: 1823775;
}

.close-button:focus,
.close-button:active {
  outline: none;
}

.dialog-inner {
  border-radius: 16px;
}

.dialog-inner-content {
  flex: 1;
}

@media screen and (max-width: 780px) {
  [data-reach-dialog-content] {
    max-width: initial;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .close-button {
    top: 26px;
  }

  .dialog-inner {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }

  .dialog-inner-content {
    height: 100%;
  }
}
