.theme-dark {
  --color-bg-body: #210a45;
  --color-bg-primary: #290b5a;
  --color-bg-secondary: #300e69;
  --color-bg-default: #27094C;
  --color-bg-darkened: #1a083a;
  --color-bg-inverse: #fff;
  --color-bg-overlay: rgba(48, 14, 105, 0.97);
  --color-bg-red: #F56565;
  --color-bg-green: #3EF3D4;
  --color-bg-yellow: #FF9303;

  --color-text-primary: #9f7aea;
  --color-text-primary-soft: #6458af;
  --color-text-secondary: #72FAE3;
  --color-text-default: #a472f7;
  --color-text-default-soft: #7458df;
  --color-text-inverse: #fff;
  --color-text-match: #000;

  --color-border-primary: #3c1a79;
  --color-border-secondary: #33DEC3;
  --color-border-default: #4c249f;
  --color-border-inverse: #fff;
  --color-border-transparent: rgba(0,0,0,0);
}

.theme-light {
  --color-bg-body: #fff;
  --color-bg-primary: #fff;
  --color-bg-secondary: #fff;
  --color-bg-default: #f7f7f7;
  --color-bg-darkened: #e9e9e9;
  --color-bg-inverse: #000;
  --color-bg-overlay: rgba(248, 248, 248, 0.97);
  --color-bg-red: #f56565;
  --color-bg-green: #1ef7d6;
  --color-bg-yellow: #FF9303;

  --color-text-primary: #401C94;
  --color-text-primary-soft: #d9d9d9;
  --color-text-secondary: #1ef7d6;
  --color-text-default: #4c249f;
  --color-text-default-soft: #946fdf;
  --color-text-inverse: #000;
  --color-text-match: #fff;

  --color-border-primary: #3c1a79;
  --color-border-secondary: #1ef7d6;
  --color-border-default: #f7f7f7;
  --color-border-inverse: #000;
  --color-border-transparent: rgba(0,0,0,0);
}

.theme-dark {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2340298B' fill-opacity='0.12'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: fixed;
}

.theme-dark .pool-logo:after {
  background-image: url('/pooltogether-logo.svg');
}

.theme-light .pool-logo:after {
  background-image: url('/pooltogether-logo-black.svg');
}

.theme-light ::placeholder,
.theme-light .input::placeholder,
.theme-light .textarea::placeholder {
  color: #946fdf;
}

.theme-dark ::placeholder,
.theme-dark .input::placeholder,
.theme-dark .textarea::placeholder {
  color: #7458df;
}








.theme-dark .toggle {
  transform: translateX(100%);
  background-color: #451ba7;
  /* background-color: #34323D; */
}

.theme-toggler--light,
.theme-toggler--dark {
  transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.theme-toggler,
.toggle {
  color: #999;
  height: 1.25rem;
  border-radius: 100px;
}

@screen sm {
  .theme-toggler,
  .toggle {
    height: 2.5rem;
  }
}

.theme-toggler {
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.theme-dark .theme-toggler {
  background-color: #0c041c;
}

@screen sm {
  .theme-toggler {
    width: 136px;
  }
}

.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.theme-toggler:hover .toggle {
  box-shadow: 0 5px 18px rgba(0,0,0,.25);
}

.theme-dark .theme-toggler .theme-toggler--light {
  @apply text-primary;
  opacity: 0.7;
}

.theme-dark .theme-toggler .theme-toggler--dark {
  @apply text-primary;
}

.theme-light .theme-toggler:hover .theme-toggler--light {
  /* @apply text-primary; */
}

.theme-light .theme-toggler:hover .theme-toggler--dark {
  @apply text-secondary;
}

.theme-dark .theme-toggler:hover .theme-toggler--light {
  @apply text-secondary;
  opacity: 1;
}

.theme-dark .theme-toggler:hover .theme-toggler--dark {
  /* @apply text-secondary; */
}

.theme-toggler--names {
  margin: 0 3px 0 2px;
  padding-top: 9px;
}
